

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

//- referencement
title  Hélène Bou artiste de cirque aérien - corde lisse et théâtre - bou.zone
meta(name='keyword' content='Hélène Bou cirque aérien corde lisse toulouse grainerie théâtre baroque midi pyrénées')
meta(name='author' content='bleuetdoré')
meta(name='description' content='Hélène Bou artiste de cirque aérien, corde lisse et théâtre')

//- CSS
link(rel='stylesheet', href="bower_components/semantic-ui/dist/semantic.min.css", type='text/css')
link(rel='stylesheet', href="css/bouzone.css", type='text/css')




