.ui.hidden.divider
    
#menu-top.ui.grid
    .centered.row
        .ten.wide.column.center.aligned
            
            h1.ui.header bou.zone
              .sub.header cirque . théâtre

            .ui.secondary.compact.text.menu

                a.item(href='index.html')
                  i.icon.home
                a.item.left.title(href='helene-bou-bio.html')
                  | Who's Bou?

                div.down.item
                  i.tiny.asterisk.icon
                  
                a.item.left.title(href='opsis.html')
                  | Opsis
                a.item.left.title(href='quinn.html')
                  | Quinn
                a.item.left.title(href='synopsis.html')
                  | SynOPSIS

                div.down.item
                  i.tiny.asterisk.icon
                    
                a.item.left.title(href='echappees.html')
                  | Echappées
                a.item.left.title(href='contact.html')
                  | Contact

            .ui.divider

        