doctype html
html(lang='fr')

    head 
        
        block referencement
            -
              var meta = { 
                'title': "Hélène Bou / Who's Bou",
                
                'image': "http://bouzone.raindrop.re/images/opsis/opsis_amb_1.jpg",

                'description': "Artiste de cirque aérien en corde lisse et comédienne. Exploratrice."

              }
      
        include ./html-header.jade
    body
        a(name='top')
        block home    
        
        .ui.hidden.divider
        #menu-top.ui.container.text.grid
            .centered.row
              .center.aligned.column
                .ui.three.column.stackable.grid
                   .row 
                      .column
                        .ui.secondary.compact.text.menu
                            a.item(href='index.html')
                              i.icon.home
                            a.item.left.title(href='helene-bou-bio.html#art')
                              | Who's Bou?

                      .column
                        .ui.secondary.compact.text.menu
                            div.down.item
                              i.tiny.asterisk.icon
                            a.item.left.title(href='opsis.html#art')
                              | Opsis
                            a.item.left.title(href='quinn.html#art')
                              | Quinn
                            a.item.left.title(href='synopsis.html#art')
                              | SynOPSIS
                            div.down.item
                              i.tiny.asterisk.icon
                                
                      .column
                        .ui.secondary.compact.text.menu
                            a.item.left.title(href='echappees.html#art')
                              | Echappées
                            a.item.left.title(href='contact.html')
                              | Contact

            .centered.row
                .column.center.aligned
                    .ui.divider

        
        .ui.sticky
            .ui.container.grid
              #article-top.centered.row
                .left.aligned.column
                    a(name="art")
                           .ui.text.menu
                             .item 
                               block title

                             .ui.text.right.menu  
                                 block infos
                                 a.icon.item#gotomenu( href="#top")
                                   i.icon.sidebar
                            
                            

                
        #article-grid.ui.container.grid
          .row
            .left.aligned.column
                block meta

          .centered.row
            #article-content.left.aligned.justified.column
                
                block content

        
          #footer.centered.row
            .right.aligned.column

                .ui.horizontal.divider
                  a.icon(href="#")
                    i.blue.angle.up.icon
                //-
                  #fb-root
                    script.
                        (function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));

                    //- Your like button code 
                      .fb-like( 
                        data-href="http://www.your-domain.com/your-page.html" ,
                        data-layout="standard" ,
                        data-action="like" ,
                        data-show-faces="true")


                div.credit
                  | bou.zone © 2016
                  a.link.text(href='credits.html', title="CREDITS - conception et réalisation bleuetdoré")  bleuetdoré
                  a.icon(href="https://www.facebook.com/profile.php?id=100009483314907",target="_blank",title='Hélène Bou is on Facebook')
                    i.facebook.grey.icon
                  a.icon(href="https://vimeo.com/user41158124",target="_blank",title='Viméo - Bou')
                    i.vimeo.grey.icon
                  a.icon(href='mailto:contact@bou.zone',title='contact email')  
                    i.mail.outline.grey.icon


        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/semantic-ui/dist/semantic.min.js")
        script.
            $(".ui.sticky").sticky();
