doctype html(lang='fr')
html
    include ./html-header.jade

    body
    
        #menu-top.ui.container.grid
            .ui.hidden.divider
            .centered.row
                .column.center.aligned
                    
                    block site    
                    
                    .ui.secondary.compact.text.stackable.container.menu

                        a.item(href='index.html')
                          i.icon.home
                        a.item.left.title(href='helene-bou-bio.html')
                          | Who's Bou?

                        div.down.item
                          i.tiny.asterisk.icon
                        a.item.left.title(href='opsis.html')
                          | Opsis
                        a.item.left.title(href='quinn.html')
                          | Quinn
                        a.item.left.title(href='synopsis.html')
                          | SynOPSIS

                        div.down.item
                          i.tiny.asterisk.icon
                            
                        a.item.left.title(href='echappees.html')
                          | Echappées
                        a.item.left.title(href='contact.html')
                          | Contact

            .centered.row
                .twelve.wide.column.center.aligned
                    .ui.divider


        .ui.text.container.grid
          .centered.row
            .left.aligned.column

                .ui.two.column.stackable.grid
                  .row
                    .column

                        block title
                        
                    .bottom.aligned.column

                        block meta

                
          .centered.row
            .left.aligned.justified.column
                
                block content

        
          #footer.centered.row
            .right.aligned.column

                .ui.divider    
                  | bou.zone © 2016    
                  div.credit
                      span  Y.Chudy - H.Bou
                      a.icon(href="https://www.facebook.com/profile.php?id=100009483314907",target="_blank",title='Hélène Bou is on Facebook')
                        i.facebook.grey.icon
                      a.icon(href="https://vimeo.com/user41158124",target="_blank",title='Viméo - Bou')
                        i.vimeo.grey.icon
                      a.icon(href='mailto:contact@bou.zone',title='contact email')  
                        i.mail.outline.grey.icon
