extends ./inc/page.jade

block referencement
    -
      var meta = { 
        'title': "Hélène Bou / Contact",
        
        'image': "http://bou.zone/images/quinn/harley-03.jpeg",

        'description': "Contact Artiste: Hélène Bou, production les Thérèses"

      }
      
block title

  h1 Contact


block content

  .ui.two.column.grid  
    .centered.row
        .column

            img.ui.fluid.centered.image(src="images/quinn/harley-03.jpeg")

        .middle.aligned.column
        
          h4 BOU Hélène
          //-  
            i.phone.icon
            | +336 76 19 96 03 <br/>
          p
            i.mail.outline.icon
            | contact@bou.zone
    
          a.ui.icon.primary(href="https://www.facebook.com/profile.php?id=100009483314907",target="_blank")
            i.big.facebook.square.icon
          a.ui.icon.primary(href="https://vimeo.com/user41158124",target="_blank")
            i.big.vimeo.icon

          .ui.hidden.divider
          i.grey.remove.bookmark.icon
          .ui.hidden.divider

          h4 Production et administration

          p.
            Les Thérèses
            
          p.
            #[i.marker.icon] ZI de Pahin  <br/>
            6, impasse Marcel Paul <br/>
            31170 TOURNEFEUILLE <br/>
            
          p N° SIRET 420 804 940 000 39<br/> APE/NAF 9001Z
          a.link(href='http://www.lesthereses.com/', target="_blank") www.lesthereses.com
