extends ./inc/page.jade



block referencement
    -
      var meta = { 
        'title': "Hélène Bou / Credits",
        
        'image': "http://bou.zone/images/quinn/harley-03.jpeg",

        'description': "Credits: bou.zone © 2016 - \n écrit par Hélène Bou et Yannick Chudy. "

      }

block title

  h1 Crédits


block content


  .ui.two.column.grid  
    .centered.row
        .column

            img.ui.fluid.centered.image(src="images/quinn/harley-03.jpeg")

        .middle.aligned.column
        

          h4 Site internet

          p
            span écrit par
            br/
            strong Yannick Chudy & Hélène Bou
            br/

          p
            span Traduit par 
            br/
            strong Benoît Gaillard 
          p 
            span Hébergement
            br/
            a.link(href='http://www.kodexlab.com/', target="_blank") Kodex·lab
            br/
          
          p
            img.ui.centered.image(src="images/qrcode.png", alt='http://bou.zone')


  