extends ./inc/page.jade

block title

  h1 Crédits


block content


  .ui.two.column.grid  
    .centered.row
        .column

            img.ui.fluid.centered.image(src="images/quinn/harley-03.jpeg")

        .middle.aligned.column
        

          h4 Site internet

          p
            span écrit par
            br/
            strong Yannick Chudy & Hélène Bou
            br/

          p 
            span Hébergement
            br/
            a.link(href='http://www.kodexlab.com/', target="_blank") Kodex·lab
            br/
          
          p
            img.ui.centered.image(src="images/qrcode.png", alt='http://bou.zone')


  