extends ./inc/page.jade

block title

  h1 Echappées


block content

 .ui.three.column.grid#echappees
            
      .centered.bottom.aligned.row
        .column
            img.ui.fluid.rounded.image(src="images/echappees/lanta_2015_3.png")

        .column
            img.ui.fluid.rounded.image(src="images/echappees/lanta_2015_1.png")

        .column
            img.ui.fluid.rounded.image(src="images/echappees/lanta_2015_2.png")
      .row.legende
        .left.aligned.three.wide.column
            p Lanta 2015

            
      .centered.bottom.aligned.row
        .column
            img.ui.fluid.rounded.image(src="images/echappees/grainerie_1.jpg")

        .column
            img.ui.fluid.rounded.image(src="images/echappees/grainerie_2.jpg")

        .column
            img.ui.fluid.rounded.image(src="images/echappees/grainerie_3.jpg")
      .row.legende
        .left.aligned.column
            p Grainerie 2015


      .centered.bottom.aligned.row
        .column
            img.ui.fluid.rounded.image(src="images/echappees/jetlag_2015_1.jpg")

        .column
            img.ui.fluid.rounded.image(src="images/echappees/jetlag_2015_2.jpg")

        .column
            img.ui.fluid.rounded.image(src="images/echappees/jetlag_2015_3.jpg")
      .row.legende
        .left.aligned.sixteen.wide.column
            p #[a(target="_blank", href="http://mixart-myrys.org/programmation2/20-15/juin/jetlag/") JetLag festival] à #[a(target="_blank", href="http://mixart-myrys.org") Mix’Art Myrys] - juin 2015.
            
            
            
      .centered.row
        .four.wide.centered.aligned.column
            img.ui.medium.rounded.image(src="images/echappees/ambeyrac_2015_4.jpeg")
            br/
            img.ui.small.rounded.image(src="images/echappees/ambeyrac_2015_5.jpeg")

        .top.right.aligned.twelve.wide.column
            img.ui.fluid.rounded.image(src="images/echappees/ambeyrac_2015_6.jpeg")
            p  Ambeyrac 2015.

      .centered.row
        .column
            img.ui.fluid.rounded.image(src="images/echappees/ambeyrac_2015_1.jpeg")

        .column
            img.ui.fluid.rounded.image(src="images/echappees/ambeyrac_2015_2.jpeg")

        .column
            img.ui.fluid.rounded.image(src="images/echappees/ambeyrac_2015_3.jpeg")

      .row.legende
        .left.aligned.sixteen.wide.column
            p  Ambeyrac 2015.
