extends ./inc/page.jade

block title

  h1.ui.header Hélène BOU
    .sub.header Artiste de cirque, 
    .sub.header cordiste aérienne et comédienne.

block content

  p Née en 1982.   

  h4  Exploratrice autodidacte.
  p. 
    Après de brillantes études de Littérature et de Linguistique  à la recherche de “l’architecture du sacré” dans le langage - Hypokhâgne au lycée Pierre de Fermat, Master II Linguistique - change de direction pour le théâtre.<br/>
    Rencontre Claude Bardouil au théâtre de la Digue à Toulouse, acteur/danseur/metteur en scène/chorégraphe toulousain qui me révèle le potentiel dramaturgique de la subversion des codes et du détournement des images par l'hybridation.<br/>
    Rencontre une corde dans un coin du Lido, puis débarque à la salle d'entraînement de la Grainerie avec ma corde et n'en sortirai pas pendant 3 ans. Travaille comme une acharnée pour trouver les chemins dans le corps. Après avoir expérimenté des formes courtes dans des scènes ouvertes et quelques événements je décide de revenir au théâtre avec l'idée de provoquer cette rencontre de la scène et de la piste. De croiser l'espace vertical de ma corde et celui horizontal du plateau. « Langagement » du corps et celui des mots.

  p. 
    Ma recherche sur <strong>OPSIS</strong>, mon premier solo de corde, prend sa source à la croisée des chemins du théâtre et du cirque, du plateau de Jules Julien à celui de la Grainerie en avril 2015 où je viendrai présenter mes premières étapes de travail. Pour finalement investir la rue avec une adaptation de la forme pour l’extérieur/jour en août 2015.

  p. 
    La création d’OPSIS est le fruit d'une rencontre avec Arthur SARTHOU et Xavier CONSTANS au Théâtre Jules Julien. Après avoir commis quelques « attentats artistiques » dans des scènes ouvertes en duo avec Arthur je lui ai demandé de travailler sur mon solo comme ingénieur son et nous sommes allés chercher la voix de Xavier pour compléter l'équipe.

  p. 
    Forte de la réussite de cette collaboration l'équipe décide de se mobiliser autour de la création d'un projet de plus grande envergure, <strong>SynOPSIS “AIR tragédie”</strong> une hybridation théâtre-cirque pour 3 comédiens-circassiens aux prises avec 100m de cordes et ayant pour point de départ la mise en scène d'Andromaca Real, adaptation de la tragédie de Racine par Ximena ESCALANTE. Ce projet est actuellement en cours de production.

  p. 
    Je m’intéresse aussi à d’autre hybridations, je participe notamment au laboratoire ouvert musique/cirque lors du JetLag festival à Mix’Art Myrys en juin 2015.

  p. 
    Je poursuis parallèlement des fantaisies plus solitaires, <strong>Quinn “Une corde, 100 visages”</strong>  en est une.


  h2 Projets
  p.  
    #[a(href='opsis.html') Opsis ] : création 2015 solo de corde lisse 20 min /// Hélène BOU avec Arthur SARTHOU (ingénieur son) et Xavier CONSTANS (comédien voix)

  p.  
    #[a(href='quinn.html') Quinn ] : création 2016 – solo de corde lisse 30 min – cirque Nô aérien /// Hélène BOU (artiste cirque) – Christophe CALASTRENG (création son)

  p.  
    #[a(href='synopsis.html') SynOPSIS ] : création 2016-2017- 60 min - AIR-tragédie /// Hélène BOU (artiste cirque) – Arthur SARTHOU (comédien-musicien) – Xavier CONSTANS (comédien)  - Christophe CALASTRENG (son)

              