extends ./inc/page.jade

block referencement
    -
      var meta = { 
        'title': "Hélène Bou / Who's Bou ?",
        
        'image': "http://bou.zone/images/opsis/opsis_amb_1.jpg",

        'description': "Artiste de cirque aérien en corde lisse et comédienne. Exploratrice."

      }
      
block title

  h1.ui.header Hélène BOU
    .sub.header Née en 1982.   

block meta
    p Artiste de cirque aérien en corde lisse et comédienne. Exploratrice.

block infos
    a.ui.tiny.right.floated.basic.button(href="helene-bou-bio-english.html") English version




block content

  p.

  p.
    J’ai d’abord rêvé d’être danseuse classique. J’ai été ​haltérophile. Mon grand-père nous apprenait à mes cousins et moi le lancer de couteaux sur la porte du garage et à faire claquer le fouet comme Indiana Jones. Ce sont sans doute là mes premiers liens au cirque. 
    <br/>
    J’étais douée pour les lettres alors dans un premier temps je suis allée m’accrocher aux mots en ​ Hypokhâgne au Lycée Pierre de Fermat puis à l’université où j’ai passé quelques années à chercher un chemin dans l’architecture du langage. Les mots à un moment m’ont fait défaut alors je suis partie à leur recherche.
  
  p.
    Je suis allée vers le théâtre. Au Théâtre de la Digue à Toulouse j’ai rencontré Claude Bardouil, chorégraphe toulousain, danseur magnifique qui me révèle le potentiel dramaturgique de la subversion des codes et du détournement des images. Le jeu. Je ne l’ai pas su avant quelques années mais aujourd’hui quand je me retourne je reconnais que mon chemin artistique est marqué par cette rencontre. 
    <br/>
    Ma confrontation à la scène fut néanmoins douloureuse. Les mots du théâtre étaient trop grands pour mon corps.
    <br/>
    Je suis partie éprouver le monde, apprendre aussi le silence. Parallèlement j’ai travaillé mon ancrage physique, tous les jours pendant 4 ans. Je me tenais prête. Le jour où par hasard je rencontre une corde dans un coin du Lido, je l’étais.
  
  p.
Lorsque je débarque à la salle d'entraînement de La Grainerie avec ma corde je n'en sortirai pas pendant 3 ans. Le temps d’apprivoiser. Après avoir expérimenté des formes courtes dans des scènes ouvertes et improvisé des performances aériennes avec des musiciens lors de festivals je décide de revenir au théâtre avec l'idée de provoquer cette rencontre de la scène et de la piste. De croiser l'espace vertical de ma corde et celui horizontal du plateau. 
  
  p.
    « Langagement » du corps et celui des mots.
  
  p.
    Ma recherche sur OPSIS, mon premier solo de corde, prend sa source à la croisée des chemins du théâtre et du cirque, du plateau du Théâtre Jules Julien à celui de La Grainerie en avril 2015 où je viendrai présenter mes premières étapes de travail. Pour finalement investir la rue avec une adaptation de la forme pour l’extérieur/jour en août 2015.

  p.
    Entre temps j’ai rencontré des gens qui m’ont beaucoup appris. J’ai apprivoisé le vertige et la peur de tomber. J’ai beaucoup ri et beaucoup pleuré. J’ai trouvé un endroit où je me sens à ma place. Chaque jour je commence par ça : tout en haut je ferme les yeux et je reste immobile quelques instants au-dessus du vide, dans l’étreinte de ma corde. Dans cette résonance. Et je ressens de la joie.
  p.
    En 2016 QUINN​, suite pour corde et masques sur une musique de Lully ​sera le fruit de mon enthousiasme pour la danse baroque après un travail de 3 semaines avec un des danseurs de la compagnie de danse ​L’Eventail​ et de l’échec d’une recherche sur le théâtre Nô.

  p.
    En 2016, après quinze jours à Saint Brieuc en caravane sous une pluie battante sur un projet de territoire de la compagnie Galapiats Cirque  je décide de quitter la région toulousaine et de partir vivre en Bretagne. Comme ça, d’un coup. Je déménage en covoiturage dans un élan d'enthousiasme et finalement passe un hiver pas terrible à m’entraîner dans un hangar ouvert aux quatres vents. La douche bretonne. Froide.
    
  p.
    En février 2017 éclaircie je participe au clip du chanteur brestois Orville réalisé par Thierry Goron, “Portique”, suspendue sous le lustre en cristal de l’Hôtel Continental dans une combinaison bleue à paillettes dont je rêve encore la nuit. 
    <br/>
    Puis je repars, puis je reviens, puis je repars et je reviens dans ma Benz dorée des années 80 avec des ailes de papillons roses sur la plage arrière. J’enchaîne les kilomètres avec les projets jusqu’en août 2017 où je m’arrête car je porte un bébé. A 6 mois de grossesse je monte une dernière fois en haut de ma corde avec la première esquisse de Fairy Tale, conte de fées sans fées mais avec une tête de cheval échappée du Testament d’Orphée de Jean Cocteau, essoufflée mais heureuse d’y être arrivée avec mon bébé.


  p.
    J’ai jeté l’ancre au bord de la mer à Locquémeau, devenir maman ça m’a demandé de prendre une autre mesure du temps que celle de là-haut. J’y ai trouvé le mot immensité, celui de l’amour fou.
  
  p.
    En 2018 je reprends la voie des airs avec un tout nouveau sens. Elever.
    <br/>
    Je tiens la main de mon fils et de l’autre je tiens ma corde. Ainsi nous formons une cordée.
  
  p.
    L’histoire entre cette corde et moi c’est un peu celle de ma vie. C’est un guide invisible, dans la joie et la tourmente, l’endroit de la vie libérée du vertige et de la peur de tomber. J’ai grandi avec elle. Elle a guidé mes pas jusqu’à la mer.
  
  p.
    Chaque fois je commence par ça : tout en haut je ferme les yeux et je reste immobile quelques instants au-dessus du vide, dans son étreinte. Dans cette résonance. Et je ressens de la joie.
  
  p.
    C’est ce que j'aimerai transmettre, cette intensité, cette juste coïncidence entre soi et l'espace, entre soi et les autres. L'in-temps-citée. Parfois c'est simplement un geste esquissé qui donne à voir tous les possibles, parfois c'est juste s'arrêter dans le silence et respirer. Parfois c’est juste une main tendue à travers le vide. Et rire aussi de se tenir là.
 
  p.
    Je cherche à atteindre les gens dans cet espace, même si c'est juste une seconde et qu'ils ont juste entrevu, et même pas la même chose ni à la même seconde. Même si la plupart ne verra rien. Il se sera peut-être passé quelque chose.

  p.
    Hélène BOU



  h2 Projets
  p.  
    #[a(href='opsis.html') Opsis ] : création 2015 - 30 min - solo de corde lisse /// Hélène BOU avec Arthur SARTHOU (ingénieur son) et Xavier CONSTANS (comédien voix)

  p.  
    #[a(href='quinn.html') Quinn ] : création 2016 -  30 min - solo de corde lisse - cirque Nô aérien /// Hélène BOU (artiste cirque) – Christophe CALASTRENG (création son)

  p.  
    #[a(href='synopsis.html') SynOPSIS ] : création 2016-2017 - 60 min - AIR-tragédie /// Hélène BOU (artiste cirque) – Arthur SARTHOU (comédien-musicien) – Xavier CONSTANS (comédien)  - Christophe CALASTRENG (son)

              
