extends ./inc/page.jade

block title

  h1.ui.header Hélène BOU
    .sub.header Née en 1982.   
    .sub.header Artiste de cirque aérien en corde lisse et comédienne. Exploratrice.

block meta



block content

  p.

  p.
    J’ai commencé par m’accrocher aux mots, lire passionnément, relire, chercher. J’ai passé quelques années à tenter de formaliser quelque chose que j’avais reconnu comme “l’architecture du sacré” dans le langage. J’aurais pu être une brillante chercheuse mais j’aspirais à d’autres horizons.

  p.
    J’ai changé de chemin, je suis allée vers le théâtre. Au Théâtre de la Digue à Toulouse j’ai rencontré Claude Bardouil, acteur, danseur, metteur en scène, chorégraphe toulousain qui me révèle le potentiel dramaturgique de la subversion des codes et du détournement des images par l'hybridation. Je ne l’ai pas su avant quelques années mais aujourd’hui quand je me retourne je reconnais que mon chemin artistique est marqué par cette rencontre comme quelque chose qui aurait infusé et grandi au fil des expériences. <br/>
    Ma confrontation à la scène fut néanmoins douloureuse. Je manquais d’ancrage. Les mots me désincarnaient. Alors je suis partie éprouver le monde, trouver mes propres mots, ceux qui me rendraient entière. Parallèlement j’ai travaillé mon ancrage physique et entraîné mon corps, tous les jours pendant 4 ans. Je me tenais prête. Le jour où par hasard je rencontre une corde dans un coin du Lido, je l’étais.
  p.
    Très vite je comprends que c’est le lien que je cherchais entre les mots que j’écris et cet autre langage auquel je n’ai jamais renoncé depuis l’université, celui sans les mots. Lorsque je débarque à la salle d'entraînement de La Grainerie avec ma corde je n'en sortirai pas pendant 3 ans. Travaille comme une acharnée pour trouver et tracer les chemins dans le corps. Après avoir expérimenté des formes courtes dans des scènes ouvertes et quelques événements je décide de revenir au théâtre avec l'idée de provoquer cette rencontre de la scène et de la piste. De croiser l'espace vertical de ma corde et celui horizontal du plateau. 
  p.
    « Langagement » du corps et celui des mots.
  p.
    Ma recherche sur <strong>OPSIS</strong>, mon premier solo de corde, prend sa source à la croisée des chemins du théâtre et du cirque, du plateau du Théâtre Jules Julien à celui de La Grainerie en avril 2015 où je viendrai présenter mes premières étapes de travail. Pour finalement investir la rue avec une adaptation de la forme pour l’extérieur/jour en août 2015.
  p.
    Entre temps j’ai rencontré des gens qui m’ont beaucoup appris. J’ai apprivoisé le vertige et la peur de tomber. J’ai beaucoup ri et beaucoup pleuré. J’ai trouvé un endroit où je me sens à ma place. Chaque jour je commence par ça : tout en haut je ferme les yeux et je reste immobile quelques instants au-dessus du vide, dans l’étreinte de ma corde. Dans cette résonance. Et je ressens de la joie.
  p.
    C’est ce que j'aimerai transmettre, cette intensité, cette juste coïncidence entre soi et l'espace, entre soi et les autres. L' in-temps-citée. Parfois c'est simplement un geste esquissé qui donne à voir tous les possibles, parfois c'est juste s'arrêter dans le silence et respirer. Parfois c’est juste une main tendue à travers le vide. 
  p.
    Je cherche à atteindre les gens dans cet espace, même si c'est juste une seconde et qu'ils ont juste entrevu, et même pas la même chose ni à la même seconde. Même si la plupart ne verra rien. Il se sera peut-être passé quelque chose.
  p.
    BouH



  h2 Projets
  p.  
    #[a(href='opsis.html') Opsis ] : création 2015 solo de corde lisse 20 min /// Hélène BOU avec Arthur SARTHOU (ingénieur son) et Xavier CONSTANS (comédien voix)

  p.  
    #[a(href='quinn.html') Quinn ] : création 2016 – solo de corde lisse 30 min – cirque Nô aérien /// Hélène BOU (artiste cirque) – Christophe CALASTRENG (création son)

  p.  
    #[a(href='synopsis.html') SynOPSIS ] : création 2016-2017- 60 min - AIR-tragédie /// Hélène BOU (artiste cirque) – Arthur SARTHOU (comédien-musicien) – Xavier CONSTANS (comédien)  - Christophe CALASTRENG (son)

              