extends ./inc/page.jade

block referencement
    -
      var meta = { 
        'title': "Hélène Bou / Who's Bou ?",
        
        'image': "http://bou.zone/images/opsis/opsis_amb_1.jpg",

        'description': "Circus artist on aerial rope, theatre actor. Explorer."

      }
      
block title

  h1.ui.header Hélène BOU
    .sub.header Born in 1982.   

block meta
    p Circus artist on aerial rope, theatre actor. Explorer.


block content

  p.

  p.
   I first held on to words, reading with passion, again and again, searching. I spent a few years trying to formalize something I had come to recognize as the “architecture of the sacred” within language. I could have had a brilliant research career but I was drawn to other horizons.

  p.
    I chose another path and went towards theatre. In the Théâtre de la Digue in Toulouse (France) I met Claude Bardouil, an actor, dancer, director, choreographer from Toulouse who revealed to me the dramaturgic potential of code subversion and image diversion by hybridization. I didn’t realize it for years but now, as I look back on my artistic evolution, I see how marked it is by that encounter, like something that would have infused and grown as I gained experience.
    <br/>

    My beginnings on stage were nevertheless painful. I was not firmly anchored. Words would disembody me. So, I went out to experience the world, find my own words, words that would make me whole. In parallel, I worked on my physical anchoring and trained my body, everyday, for 4 years. I kept myself ready. The day I came across a rope in a corner of the Lido, I was.

  p.
    On that rope, I quickly realise that I have found the connection between the words I write and this other language I had never abandoned since university, the language without words. After I set foot in the training room of #[a(href="http://www.la-grainerie.net/" target="_blank") La Grainerie], with my rope under my arm, I won’t come out for 3 years. Work as a fanatic to track the paths in the body, to retrace them. I experiment with various short formats on open stages and at various events and eventually I choose to come back to theater with the idea of confronting the boards to the ring.

  p.
    The “inwordvement” of the body and words.

  p.
    My work on OPSIS, my first aerial rope solo, originates from the crossroad of theatre and circus, from the stage of the Théâtre Jules Julien to that of La Grainerie where I show the early stages of my work. To finally take to the street with a show adapted to the outside daylight, in august 2015. 

  p.
    Meanwhile, I have met people who taught me a lot. I tamed vertigo and the fear of falling. Laughed and cried extensively. I found a place where I feel at home. Everyday I climb all the way up I close my eyes and stay motionless for a moment above the void, in the embrace of my rope. In that resonance. And I feel joy.

  p.
    This is what I wish to convey, this intensity, this exact coïncidence of oneself with space, of oneself with the others. In-time-sity. It sometimes is a motion merely hinted at that unfolds the visualisation of all the possibles, it sometimes is simply halting in silence and breathing. Sometimes only an extended hand reaching out through the void.
  p.  
    I seek to reach people in that space, even if only for a second during which they get a glimpse, even of a different thing, even for a different second. Even if most of them do not see. Something might have happened. 

  p.
    BouH



  h2 Projets
  p.  
    #[a(href='opsis.html') Opsis ] : creation in 2015 - 20 min - aerial rope solo  /// Hélène BOU (circus artist) – Arthur SARTHOU (sound manager) – Xavier CONSTANS (voice actor)

  p.  
    #[a(href='quinn.html') Quinn ] : creation in 2016 -  30 min - aerial rope solo - aerial Nô circus /// Hélène BOU (circus artist) – Christophe CALASTRENG (sound creation)

  p.  
    #[a(href='synopsis.html') SynOPSIS ] : creation in 2016-2017 - 60 min - AIR-tragedy /// Hélène BOU (circus artist) – Arthur SARTHOU (actor) – Xavier CONSTANS (actor)  – Christophe CALASTRENG (sound)

              