extends ./inc/page.jade

block referencement

    -
      var meta = { 
        'title': "Bou.zone - cirque aérien.théâtre",
        
        'image': "http://bou.zone/images/opsis/opsis_amb_1.jpg",

        'description': "Hélène Bou, artiste de cirque aérien en corde lisse et comédienne. Projets, échappées, vidéos, contact"
      }
      

block home
  .ui.container.grid
    .ui.hidden.divider
    .centered.row
      .column.center.aligned
        h1.ui.header bou.zone
          .sub.header cirque aérien . théâtre




block title

block content

    h1.ui.header Training day
        .sub.header Hélène Bou - corde lisse - 2015
        
    .ui.embed(data-source="vimeo" data-url="http://player.vimeo.com/video/144472676")

    //-
        iframe(src="http://player.vimeo.com/video/142394496",width="561",height="316", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen) 

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/semantic-ui/dist/semantic.min.js")
    script.
        $('.ui.embed').embed();