extends ./inc/page.jade


block referencement    
    -
      var meta = { 
        'title': "Hélène Bou OPSIS  “AIR tragédie” - acte premier",
        
        'image': "http://bouzone.raindrop.re/images/quinn/harley-03.jpeg",

        'description': "Spectacle tout public à partir de 10 ans, durée : 20 min. Artiste: Hélène Bou, production les Thérèses"

      }

block title

   h1.ui.header OPSIS
    .sub.header “AIR tragédie” - acte premier
    

block meta

  strong Durée : 30 min
  br/
  span Tout public à partir de 7 ans
  


block content

  img.ui.fluid.centered.image(src="/images/opsis/opsis_amb_1.jpg")
  
  .ui.hidden.divider
  
  p.
    C'est la création d'une pièce de théâtre. Un plateau nu, une corde. La comédienne est seule sur la scène, le metteur en scène est assis en régie et s'adresse à elle par l'intermédiaire d'un micro. On ne le verra jamais. Elle lui répond depuis la scène, parfois elle fixe le fond de la salle et se tait. Il y a peut-être les autres acteurs dans la salle mais ils n'interviendront pas.
  p.
    C'est un huis-clos dans l'antichambre de la création. Jeu de répétitions et jeu de rôles. Refaire la scène jusqu'à ce que ça résonne dans le corps. Elle obéit à cette voix, se laisse guider, parfois subjuguée, parfois esclave. C'est une voix qu'elle connaît et qui a un pouvoir sur elle : celui de la faire et de la défaire. Alors elle résiste, elle prend de la hauteur, elle défie. Car sur la ligne verticale de sa corde elle règne. C'est une vieille histoire. Jouer avec une boîte d'allumettes, jusqu'au point d'incandescence. Juste pour voir, ce qu'il adviendra.

  h3  De quoi ça parle
  p.
    C’est Andromaque mais sans Andromaque, comme si elle avait trouvé autre chose à faire. C’est qui se joue à côté, l’autre tragédie, celle d’Hermione, fille d’Hélène de Troie, suspendue au bout d’une corde et qui aimerait bien être vue par cette homme qui n’a d’yeux que pour Andromaque l’absente. C’est la comédienne qui l’incarne aux prises avec un metteur en scène tellement obscur qu’on ne le voit pas et une humidité ambiante qui rappelle une marée d’algues vertes.
  p.
    C’est absurde, c’est poignant. C’est gracieux comme un oiseau. C’est pour de vrai mais pour de faux on ne sait plus. C’est une air-tragédie.




  h3 Espace scénique - technique

  h4 Jeu de type frontal
  p.
    En intérieur sous chapiteau, sous vergue, sous poutre IPN ou tout point d’accroche à 6m50 de haut minimum et supportant une charge de 500 kg minimum.
  p.
    En extérieur sous portique ou sous un arbre ou sous une grue …


  h4 Se joue de préférence à la tombée de la nuit.

  h3.ui.header Trailer Opsis
    .sub.header Hélène Bou - corde lisse - 2015
    
  .ui.embed(data-source="vimeo" data-url="http://player.vimeo.com/video/142394496" )
  //-
    iframe(src="http://player.vimeo.com/video/142394496",width="561",height="316", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen) 

  h3 Distribution
  p.
    Comédienne/ corde lisse : Hélène BOU<br/>
    Voix metteur en scène : Xavier CONSTANT<br/>
    Montage son : Arthur SARTHOU<br/>


  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="bower_components/semantic-ui/dist/semantic.min.js")
  script.
    $('.ui.embed').embed();
