extends ./inc/page.jade

block title

  h1.ui.header Quinn
    .sub.header Une corde, 100 visages.

block meta
  
    p En cours de création<br/>Sortie prévue : mai 2016<br/>
        strong Durée : 30 min

block content

  img.ui.fluid.centered.image(src="/images/quinn/quinn_01.png")
  
  .ui.hidden.divider

  h3 Note d'intention :
  p.  
    Des masques, des dizaines qui jonchent le sol et recouvrent entièrement le tapis sous une corde qui pend. Des dizaines de visages aux orbites vides qui regardent vers le ciel. Un personnage arrive sur la scène, son visage est plongé dans l'obscurité. C'est comme s'il reprenait une tâche en cours. Il saisit un des masques et le plaque sur son visage. Il monte sur la corde. La danse prend la couleur du masque. Blanc, noir, or ...<br/>
    Les masques sont rejetés sur le sol, certains se brisent. Cimetière de visages.<br/>
    Le personnage démasqué peu à peu se métamorphose comme s’il y avait une persistance de la couleur des masques une fois ôtés, et révéler un autre visage.

  p.  
    Parler d'Arlequin, des losanges et des pelures d'oignons. Des visages, celui des autres, celui de l'Autre. Des images. De la mort. De ce qui se soustrait. L'animal. La tendresse.

  p
   code.
    "De combien d'Arlequin faudra-t-il accoucher, combien faudra-t-il en tuer, en malmener, en écorcher en aimer pour que cette mascarade prenne fin ?

  p
   code.
    Moi Arlequin le survivant, à l'implacable géométrie à laquelle je me romps. Je me souviens. Des jours, des nuits dans l'obscurité. Des heures et des secondes suspendues au bord de ses lèvres et de son sourire muet. Des larmes retenues et de celles versées qui l'affranchiront peut-être. Des regards. De la somme des losanges. De ses multiples triangulations dans le hasard des errances selon un projet à ce jour totalement inconnu."

  p.
    Quel est le véritable masque, celui que l’on porte devant soi ou celui que l’on dissimule? <br/>
    L’esclavage n’est-il pas de porter des masques invisibles tout le temps et vivre dans la peur d’être à découvert.

  p.
    La recherche sur Quinn traverse ces interrogations et se nourrit d’images empruntées au carnaval vénitien et des codes du théâtre Nô pour aller vers une esthétique stylisée et épurée et développer une ambiance sonore au service d’une émotion, d’une atmosphère. 

  h3 Espace scénique
  p.
    En intérieur ou extérieur sous chapiteau, sous vergue, sous poutre IPN sous portique semi-autonome ou sous un tripode autonome ou sous un arbre ou sous une grue, pelle mécanique, etc…ou tout point d’accroche à 6m50 de haut minimum et supportant une charge de 500 kg minimum.

  p.
    La scénographie ouvre à tous types de jeux ( frontal, circulaire). <br/>
    Je tiens à ce que le public se sente témoin et observateur, pris dans l’intimité de quelque chose en cours, dans cette perspective la proximité du public me parait être une piste à privilégier.

  .ui.hidden.divider

  .ui.two.column.grid  
    .centered.row

        .middle.left.aligned.column

          h3 Avec :
          p.
            Hélène BOU - corde lisse /théâtre physique<br/>
            Christophe CALASTRENG - régie son

            
        .right.aligned.column

            img.large.right.floated.image(src="/images/quinn/quinn-02.jpg")
  
  