extends ./inc/page.jade

block referencement
    -
      var meta = { 
        'title': "Hélène Bou / Quinn - Suite for a rope and a hundred faces.",
        
        'image': "http://bou.zone/images/quinn/quinn_01.png",

        'description': "Duration : 30 mn. Suitable for any audience above 10 years old Expected release  : June 2016"

      }
    
    
block title

  h1.ui.header Quinn
    .sub.header Suite for a rope and a hundred faces.
    
block meta
    p
      strong Duration : 30 mn
      br/
      span Suitable for any audience


block infos
  
   

block content

  img.ui.fluid.centered.image(src="/images/quinn/quinnbowie2.jpeg", alt=" Quinn - corde lisse. Hélène Bou @ La Grainerie -  Toulouse  ")
  
  .ui.hidden.divider

  h3 Statement of intent
    
  p.
   Masks, dozens of masks scattered across the floor, blanketing the mat under a hanging rope. dozens of empty eye sockets staring towards the sky. Someone comes on stage, his face hidden in darkness. As if he was resuming a task left unfinished. She takes a mask and covers her face with it. She climbs the rope. The dance assumes the colours of the masks. White, black, golden...
    <br/>
   The masks are thrown back on the floor, some break. A graveyard of faces. The character, gradually unmasked, metamorphoses himself as if the colours of the shed masks persisted and revealed a different face.



  p.  
    To speak of Harlequin, of diamonds and onion peels. Of faces, these of others, that of the Other. Of images. Of death. Of what evades. The animal. Tenderness.


  p
   code.
    "How many Harlequins must be given birth to? How many must be killed, mistreated, mangled, loved before this masquerade ends?

  p
   code.
    I, the last Harlequin standing, in this unforgiving geometry that disciplines me. I remember. Days and nights in the dark. Hours and seconds hanging on the edge of his lips, of his silent smile. On tears held back and tears shed that may free him. On watching eyes. On the sum of diamonds. On the multiple triangulations of the unpredictable wanderings towards a project still utterly unknown."

  p.
    Which one is the true mask? The one we wear in front of us or the one we hide? Wearing invisible masks at all times and living in the fear of being exposed, would that not define some kind of slavery?


  p.
    The research of #[i Quinn] explores these interrogations and feeds on images taken from the venetian carnival and on codes of the Nô theatre to pursue pared down, stylised aesthetics and develop a sound ambiance devoted to an emotion, an atmosphere.

  h3 Scenic space
  p.
    Inside or outside, under a circus tent, a yardarm, an I-beam, an autonomous crossbar, a tree, a crane, a vault… anywhere that has an attachment point at a height of at least 6m50 and with a design load of at least 500 kg.
  p.
    The stage design opens to any type of play (frontal, circular).
    <br/>
    I wish the public to not only be a witness, an observer but also to feel intimately involved in the progression of the act. From that perspective, closeness to the public seems to be a direction to investigate. 

  .ui.hidden.divider
  
  .ui.embed(data-source="vimeo" data-url="http://player.vimeo.com/video/155976356")
  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="bower_components/semantic-ui/dist/semantic.min.js")
  script.
    $('.ui.embed').embed();

  .ui.hidden.divider
  

  .ui.grid  
    .doubling.two.column.centered.row

        .middle.left.aligned.column

          h3 Distribution
          p.
            Hélène BOU - aerial rope / physical theatre <br/>
            Christophe CALASTRENG - sound management

          h3 Creation in progress  
          span Expected release  : June 2016

        .right.aligned.column

            img.large.right.floated.image(src="/images/quinn/quinn-02.jpg")
  
  