extends ./inc/page.jade

                
block title

  h1.ui.header SynOPSIS
    .sub.header AIR tragédie
                
block meta        
  
    p En cours de création<br/>Sortie prévue : septembre 2017<br/>
        strong Durée ≃ 60 min

block content

  img.ui.fluid.centered.image(src="/images/synopsis/SYNOPSIS_01.jpg")
  
  .ui.hidden.divider
    
  p.  
    Hybridation théâtre-cirque pour 3 comédiens-circassiens aux prises avec 100m de cordes et ayant pour point de départ la mise en scène d'Andromaca Real, adaptation de la tragédie de Racine par Ximena ESCALANTE.

  h3 Note d'intention
  h4 Oreste aime Hermione qui aime Pyrrhus qui aime Andromaque qui ne l'aime pas.

  p.
    Ça se passe sur un plateau de théâtre. Des cordes partout, qui pendent des cintres, d'autres qui jonchent le sol. Les comédiens sont sur le plateau, le metteur en scène est assis en régie et s'adresse à eux par l'intermédiaire d'un micro. On ne le verra jamais. Jeu de répétitions et jeu de rôles. Ils obéissent à cette voix, se laissent guider, parfois subjugués, parfois esclaves.

  p.
    C'est la tragédie de ces deux personnages, Pyrrhus et Hermione, au coeur de la pièce, deux êtres qui pourraient s'aimer mais qui sont frappés par l'impossibilité d'être reliés parce qu'ils sont dévorés par leur ego et un troisième personnage absent : Andromaque. Et qui se font du mal parce qu'ils ne se pardonnent pas d'être parfois aimants. Parce que c'est trop pour eux en regard du vide qui les habite et qui les ronge, se dire qu'on peut donner sans recevoir. C'est un rapport de miroir.

  p.
    C'est aussi le lien qui se tisse entre les comédiens et leurs rôles, la relation que ça instaure entre eux. La fragilité de cette frontière. Les personnages qui prennent corps et prennent les corps. La résonance. La vision d'un metteur en scène, son exigence, ses obsessions. La pièce qui se joue véritablement, c'est celle qui prends corps dans l'espace de cette répétition, révélée par l'autre pièce. Parfois il faudra en rire parce que ça sera nécessaire.<br/>
    Parce que ça sera trop. Ou pas assez. Mais jamais suffisant.

  p.
    L'absence d’Andromaque sera le point de basculement de toute la pièce.<br/>
    Il y aura de l'eau, des cordes, des couteaux. Des corps traversés par tout cela.<br/>
    Éprouvés. Jusque dans la voix.

  p.
    D'un bout à l'autre de la pièce il y aura ces deux personnages d’Hermione et de Pyrrhus, seuls, livrés à l'éclairage cruel des projecteurs. Ils seront parfois d'une beauté éclatante revêtus du costume flamboyant de leur ego, mais au fur et à mesure ils vont se déconstruire, perdre leur éclat, perdre contenance, être disloqués, gagnés par un vide, une blessure. Les autres personnages, les comédiens et le metteur en scène, vont orchestrer cette déconstruction mais aussi être gagnés par elle par un effet de miroir. On se demandera qui est la marionnette de qui. Au final il ne restera rien des personnages, que le silence. Il ne restera rien de la pièce. Ou justement l’avènement de ce rien. Un rien plus grand que toute cette histoire, plus grand que les personnages. Un rien qui soit juste, à la fois très sombre et extrêmement lumineux.

  .ui.hidden.divider

  .ui.two.column.grid  
    .centered.row

        .middle.left.aligned.column

          h3 Distribution
          p.  
            Comédienne/Hermione : Hélène BOU<br/>
            Metteur en scène/voix : Xavier CONSTANT<br/>
            Comédien/Pyrrhus : Arthur SARTHOU<br/>
            Ingénieur son/création sonore : Christophe CALASTRENG<br/>
            
        .right.aligned.column

            img.large.right.floated.image(src="/images/synopsis/SYNOPSIS_02.jpg")


  
    

